<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>


  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form method="post">
      文件名：<input type="text" name="name"/><br />
      文件类型：  <input type="text" name="format"/><br />
             <input type="submit" value="登录"/>
    </form>
  </body>
</html>